*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    font-size: 62.5%;
}

#all{
    /* border: 1px solid red; */
    overflow: hidden;
    width: 40rem;

}

#navDireccion{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    padding: 3px;
    align-items: center;
    margin: 0;
}

#navBuscador{
    padding: 5px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

.direccion{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight:bolder;
    color: black;
}

#navBuscador input{
    width: 93%;
    border-radius: 3rem;
    padding: 8px;
    border: 1px solid #f5f3f1;
    background-color: #f5f3f1;
    font-size: 1.5rem;
    font-weight: bolder;

}

.buscador{
    /* border: 1px solid red; */
    border-radius: 7px;
    padding: 5px;
}


#slideShow{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding: 5px;
    /* border: 1px solid cadetblue; */
}

#slideShow img{
    width: 100%;
    height: 100%;
}

.formaPedido{
    border: 1px solid red;
    border-radius: 7px;
    padding: 5px;
    width: 12rem;
    padding: 5px;

}

#contenido{
    /* border: 1px solid green; */
}

#bloque1{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.bloque1Sesion1{
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
}

.bloque1Sesion1 h4{
    font-size: 1.3rem;
}

.bloque1Sesion1 h4:first-child{
    margin-left: 8px;
}

.bloque1Sesion2{
    /* border: 1px solid brown; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.fotoComida{
    width: 15rem;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoComida img{
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
}

.ofertas img, 
.kebab img, 
.italiana img, 
.pizza img{
    border-radius: 2rem;
    width: 7.7rem;
}

.ofertas img{
    background-color: #ff8000;
}

.kebab img{
    background-color: #5b3d5b;

}

.pizza img{
    background-color: #f75e28;

}

.italiana img{
    background-color: #f6c243;

}

.fotoComida p{
    margin: 5px 0;
}

#bloque3{
    margin-top: 8px;
}

#bloque3 h2{
    margin-bottom: 8px;
    margin-left: 2rem;
}

.bloquePedidos{
    /* border: 1px solid blue; */
}

.pedido{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 8px;
}

.imagenPedido{
    width: 36rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    overflow: hidden;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    margin: 0 auto;
    /* position: relative; */
}

.imagenPedido img{
    width: 100%;
    height: auto;
}

.informacionPedido{
    width: 36rem;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border: 1px solid #f2f2f2;

}

.informacionPedido h5{
    width: 100%;
}

.informacionPedido p:last-child{
    width: 100%;
}


